
.actuallythepage{
    display: flex;
    overflow: hidden !important;
}

.ice{
    background-color: beige;
    margin: 1% 1% 1% 1%;
    width: 50%;
    height: 90vh;
    border-radius: 20px;
    padding: 1% 3% 0% 3%;
    max-width: 50%;
    overflow-y: scroll;
}


.quests{
    background-color:whitesmoke;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(160, 160, 160);
    padding: 1% 3% 3% 3%;
    margin: 0% 0% 5% 0%;
}

.question1{
    position: relative;
    color: gray;
    margin-bottom: 5%;
}

.question1::after{
    content: "";
    position: absolute;
    left: 0;
    top: 110%;
    width: 100% ;
    height: 2px;
    background: currentColor;
}

.opt{
    border-style: solid;
    border-radius: 15px;
    border-color: #A1509B;
    padding: 2% 3% 2% 3%;
    position: relative;
     z-index: 1; 
    /* rgb(73, 73, 73) */
}
/* .ice>.quests:nth-child(2)>.opt:nth-child(8)::after{
    background:#363196 !important;
    
} */
/* .opt::after{
    content: "";
    background-color: #A1509B;
    border-radius: 12px;
    height: 100%;
    width: 50% ;
    top: 0em;
    left: 0em;
    min-width: 3%;
    max-width: 100%;
    position: absolute;
    z-index: -1;
    transition: 500ms;
} */

.vote{
    padding: 1% 3% 1% 3%;
}

.fire{
    margin: 1% 1% 1% 1%;
    width: 50%;
    height: 90vh;
    max-width: 50%;
    overflow-y: scroll;
}