.parttwo
{
    float:left;
    margin-left:4%;
}

body
 {
        background-image: url('./back.jpg');
        background-repeat:no-repeat;
        background-size:100% 100%;
        background-attachment: fixed
}
.ltitle
{
    font-size:40px;
    color:white;
}
.logt
{
    margin-bottom:50px;
    color:white;
    margin-left:160px;

}



.ltext
{
    margin-right:100px;
    margin-bottom:50px;
    color:white;
    margin-left:160px;

    
}


.signup
{
    
    margin-right:50px;
    color:white;
    margin-left:160px;
}

.signup_two
{
    margin-right:50px;
    color:white;
    margin-bottom:50px;
    margin-left:160px;
}

