.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity:0.9;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: absolute;
    padding: 32px;
    border-radius:16px;
    z-index:60;
    width: 60%;
    left:20%;
    height:30%;
    transition: height 0.15s ease-out;
    background-color: grey;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}