.form
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    /* justify-content: center; */
    /* align-items: center; */
}

.triangle-left1 {
    width: 0;
    height: 0;
    border-top: 23vw solid transparent;
    border-right: 100vw solid whitesmoke;
    border-bottom: 23vw solid transparent;
    position:absolute;
    z-index:-1;
}
.triangle-right1 {
    width: 0;
    height: 0;
    border-top: 23vw solid transparent;
    border-left: 100vw solid white;
    border-bottom: 23vw solid transparent;
    position:absolute;
    z-index:-1;
}

.detail
{
    display:flex;
    margin-left:10%;
    margin-bottom:20px;
}

.butt
{
    margin-left:45%;
    display:flex;
    margin-top: 100px;
    width:200px;
    height:50px;
    text-align:center;
    border-radius:5px;
    border: 3px solid;
    justify-content:center;
    padding-top:15px;
}

.title
{
    display:flex;
    flex-direction:column;
    margin-bottom:5%;
    align-items:center;
    justify-content: center;
}

.submit
{
    display:flex;
    justify-content:center;
}

/* .iconn
{
    background-color:red;
} */
