
.actoll,.clooll{
    margin-left: 5% ;
    margin-right: 5%;
}

.polsta,.closta{
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 15px;
    position: relative;
}

.poldet{
    border-radius: 15px;
    background-color:beige;
    width: 45%;
    padding: 2% 0% 0% 2%;
    position: relative;
    z-index: 1;
}

.poldet::after{
    content: "";
    border-radius: 15px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0%;
    position: absolute;
    z-index: -1;
    transition: 500ms;
}

.poldet:hover::after{
    background: rgba(228, 173, 173, 0.2);
}

.sta{
    border-radius: 15px;
    background-color:whitesmoke;
    width: 45%;
    padding: 2% 0% 0% 2%;
    position: relative;
    z-index: 1;
}

.sta::after{
    content: "";
    border-radius: 15px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0%;
    position: absolute;
    z-index: -1;
    transition: 500ms;
}

.sta:hover::after{
    background-color: rgb(235, 235, 235);
}

.futons{
    width: 15%;
}

.viewpoll,.deletepoll{
    background-color: black !important;
    color: white !important;
}

.viewpoll{
    top: 10%;
    left: 9%;
}

.deletepoll{
    top: 30%;
    left: 10%
}

.viewpoller{
    background-color: black !important;
    color: white !important;
    top: 30%;
    left: 9%;
}

.crells{
    margin-top: 3%;
    margin-left: 5%;
}
.cpoll{
    background-color: black !important;
    color: white !important;
}

