
.actoll{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    position:relative;
    top:20vh;
}
.clooll{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    position:relative;
    top:10vh;
}
.pollstaAlign,.collstaAlign{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    color:black;
}
.polsta,.closta{
    width:48%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.poldet{
    border-radius: 15px;
    background-color:whitesmoke;
    width:100%;
    display:flex;
    position:relative;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-around;
    box-shadow: 0 5px 10px grey;
    padding:3%;
    margin:1%;
    min-height:50vh;
    transition:0.5s;
}
.polu{
    font-size:3vw;
    font-weight:normal;
}
.polh3 h2{
    font-size:2vw;
    font-weight:normal;
    color:#333;
}
.poldet:hover .polu{
    color:#333;
}
.poldet:hover .polh3 h2{
    color:#333;
}
.poldet:hover{
    margin-top:0;
    color:white;
    background-color:#f7bdab;
    box-shadow:5px 5px 25px 5px grey; 
}
.viewpoller{
    background-color: black !important;
    color: white !important;
    top: 30%;
    left: 9%;
}

.crells{
    margin-top: 3%;
    margin-left: 5%;
}
.cpoll{
    background-color: black !important;
    color: white !important;
}
@media  only screen and (max-width: 748px){
    .polu{
        font-size:5vw;
    }
    .polh3 h2{
        font-size:3vw;
    }
    .polh3{
        display:flex;
        flex-direction:column;
    }
    .pollstaAlign,.collstaAlign{
        width:100%;
        flex-direction:column;
    }
    .polsta,.closta{
        width:90%;
    }
    .poldet{
        min-height:40vh;
    }
    .actoll,.clooll{
        align-items:center;
    }
}
